{{registerstylesheet "fractionslider.css"}}
{{registerscript "jquery.fractionslider.min.js"}}

<div class="fraction-slider-wrapper">
    <div class="fraction-responisve-container">
        <div class="fraction-slider"
             data-fullwidth="{{#if Settings.FullWidth}}true{{else}}false{{/if}}"
             data-controls="{{#if Settings.Controls}}true{{else}}false{{/if}}"
             data-pager="{{#if Settings.Pager}}true{{else}}false{{/if}}"
             data-responsive="{{#if Settings.Responsive}}true{{else}}false{{/if}}"
             data-dimensions="{{Settings.Width}},{{Settings.Height}}"
             data-increase="{{#if Settings.Increase}}true{{else}}false{{/if}}"
             data-pauseonhover="{{#if Settings.PauseOnHover}}true{{else}}false{{/if}}"
             data-slideendanimation="true"
             data-autochange="{{#if settings.autochange}}true{{else}}false{{/if}}">
            <div class="fs_loader"></div>
            {{#each Slides}}
            <div class="slide">
                {{#each Elements}}

                {{#equal Tag "Text" }}
                <p class="{{CssClass}}"
                   data-position="{{PositionTop}},{{PositionLeft}}"
                   {{#if Fixed}} data-fixed="" {{/if}}
                   {{#if In}} data-in="{{In}}" {{/if}}
                   {{#if Step}} data-step="{{Step}}" {{/if}}
                   {{#if Out}} data-out="{{Out}}" {{/if}}
                   {{#if EaseIn}} data-ease-in="{{EaseIn}}" {{/if}}
                   {{#if EaseOut}} data-ease-out="{{EaseOut}}" {{/if}}
                   {{#if Time}} data-time="{{Time}}" {{/if}}
                   {{#if Delay}} data-delay="{{Delay}}" {{/if}}
                   {{#if Special}} data-special="{{Special}}" {{/if}}>{{Title}}</p>
                {{else}}
                <img src="{{Image}}"
                     data-position="{{PositionTop}},{{PositionLeft}}"
                     {{#if Fixed}} data-fixed="" {{/if}}
                     {{#if In}} data-in="{{In}}" {{/if}}
                     {{#if Step}} data-step="{{Step}}" {{/if}}
                     {{#if Out}} data-out="{{Out}}" {{/if}}
                     {{#if EaseIn}} data-ease-in="{{EaseIn}}" {{/if}}
                     {{#if EaseOut}} data-ease-out="{{EaseOut}}" {{/if}}
                     {{#if Time}} data-time="{{Time}}" {{/if}}
                     {{#if Delay}} data-delay="{{Delay}}" {{/if}}
                     {{#if Special}} data-special="{{Special}}" {{/if}}>
                {{/equal}}

                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>