@using System
@using System.Text
@using System.Data.SqlClient
@inherits Satrabel.OpenContent.Components.OpenContentWebPage

@{
	var intPortalId = Dnn.Portal.PortalId;
	var strPortalAlias = Dnn.Portal.PortalAlias;
	
	var db = Database.Open("SiteSqlServer");
	var txtSql = @"SELECT Tabs.TabID, 
	Tabs.PortalID, 
	Tabs.TabName ,
	Tabs.TabPath as Path,
	ModuleDefinitions.FriendlyName, 
	ModuleSettings.SettingName, 
	ModuleSettings.SettingValue as Template
	FROM            ModuleDefinitions INNER JOIN
	 Modules ON ModuleDefinitions.ModuleDefID = Modules.ModuleDefID INNER JOIN
	 TabModules ON Modules.ModuleID = TabModules.ModuleID INNER JOIN
	 Tabs ON TabModules.TabID = Tabs.TabID INNER JOIN
	 ModuleSettings ON Modules.ModuleID = ModuleSettings.ModuleID
	 WHERE ModuleDefinitions.FriendlyName = 'OpenContent' AND ModuleSettings.SettingName = 'template' 
	 ORDER BY  ModuleSettings.SettingValue, Tabs.PortalID";
	 
	 int tables = 0;
	 string lastTemplate = "";
	 string tableOpen = "<table><tr><th>PortalId</th><th>Page Name</th><th>Path</th><th>Location</th></tr>";
	 string tableClose = "</table>";
	 
}

<div class="oc-template-list">
	
		@foreach(var row in db.Query(txtSql)) {
		
			string fullPath = row.Template;
			
			// Get the Shorter Path
			string[] items = fullPath.Split(new char[] {'/'}, StringSplitOptions.RemoveEmptyEntries);
			string template = string.Join("/", items.Skip(4));
			
			string Type = "Portal";
			
			if(fullPath.ToLower().Contains("/skins/")){
				Type = "Skin";
			}
			
			// Close previous tables to start a new one
			if(lastTemplate != template && tables > 0){
				@Html.Raw(tableClose);
			}
			
			// Start a new table if there's a new template
			if(lastTemplate != template){
				<h3>Template: @template</h3>
				<h4 title="@fullPath">Type: @Type</h4>
				@Html.Raw(tableOpen);
				tables++ ;
			}

			<tr>
				<td>@row.PortalID</td>
				<td>@row.TabName</td>
				<td>@row.Path.Replace("//", "/")</td>
				<td>@row.TabName</td>
			</tr>
			

			
			lastTemplate = template;
			
			
		}
		
		@{
		
			// Close previous tables
			if(tables > 0){
				@Html.Raw(tableClose);
			}
		
		}

	</table>
</div>
</li>
</ul>
</div>