{{AdditionalData.Intro.Title}}

<div class="row">
    <div class="col-md-12">
        {{#each Items}}
        <div class="list-item col-md-12">
            {{#if Context.IsEditable}}
           <div style="outline: 1px dashed #ccc;height: 22px !important;position:relative;margin-top:1px;">
                <div style="padding-left:5px; line-height:22px;">
                {{publishstatus}}
            </div>
                <div style="position:absolute;right:0;top:0;line-height:22px; ">
                    <a href="{{Context.EditUrl}}" title="Edit Item" style="background-color:#000;color:#fff;padding: 0 2px; "><i class="fa fa-pencil"></i></a>
                </div>
            </div>
            {{/if}}
            <!-- item {{@index}} -->
            <div class="row article">
                <div class="col-sm-12 col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{{Context.DetailUrl}}"><img src="{{Image}}" alt="" title="" class="img-thumbnail img-responsive" /></a>
                        </div>
                        <div class="caption col-md-8">
                            <h6 class="title"><a href="{{Context.DetailUrl}}">{{Title}}</a></h6>
                            <span class="fa fa-calendar" aria-hidden="true"></span>
                            {{formatDateTime publishstartdate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>







